#main{
    margin-top: 15px;
}

#logsBox{
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    white-space: pre-line;
    font-size: 0.7em;
    max-height: 500px;
    overflow: scroll;
    padding: 5px;
    margin: 5px;
}

.tools button{
    margin: 5px;
    margin-top: 0;
}